page-fichar {

   .content {
        text-align: center;
    }
    .content img {
        width: 256px;
        height: 256px;
        border-radius: 200px;
    }

    .loadingSend img {
        width: 150px;
        height: auto;
    }
    .loadingSend p {
        font-size: 18px;
        margin: 0;
    }

    .messageBox {
        background: #B9F4D8;
        margin-top: 50px;
        padding: 25px;
        box-shadow: 1px 2px 3px #000000;
    }
    .messageBox p {
        font-size: 18px;
    }

    .btns {
        margin-top: 100px;
    }
    .btns button {
        margin: 0 auto 50px auto;
        max-width: 220px;
        box-shadow: none;
        text-transform: none;
    }

}