@import url('http://fonts.googleapis.com/css?family=Varela+Round');

@font-face {
	font-family: "Freescpt";
	src: url("../fonts/FREESCPT.eot"),
	     url("../fonts/FREESCPT.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/FREESCPT.woff") format("woff"),
      	 url("../fonts/FREESCPT.ttf") format("truetype"),
      	 url("../fonts/FREESCPT.svg#FREESCPT") format("svg");
}
body {
	background: -webkit-linear-gradient(#ffffff, #d8d8d8);
	background: -moz-linear-gradient(#ffffff, #d8d8d8);
	background: -o-linear-gradient(#ffffff, #d8d8d8);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Varela Round;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}
.ShowModalAlert .modal-header {
	border: none;
	background: transparent url(../images/alerts/aviso-header.png) no-repeat;
	width: 650px;
	height: 92px;
	line-height: 5;
	color: #fff;
	padding: 0;
	margin: 0;
	box-shadow: none;
}
.ShowModalAlert .modal-content {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
}
.ShowModalAlert .modal-content .modal-body {
	border: none;
	background: transparent url(../images/alerts/aviso-content.png) 0px 18px no-repeat;
	width: 650px;
	min-height: 50px;
	color: #3B3F42;
	padding: 30px 35px 3px 35px;
	margin: 0;
	box-shadow: none;
}
.ShowModalAlert .modal-content .modal-body a {
	color: #3B3F42;
	text-decoration: none;
	outline: none;
}
.ShowModalAlert .modal-content .modal-body a:hover {
	color: #666;
}
.ShowModalAlert .modal-footer {
	border: none;
	background: transparent url(../images/alerts/aviso-footer.png) -1px 0px no-repeat;
	width: 650px;
	height: 92px;
	color: #fff;
	padding: 0;
	margin: 0;
	box-shadow: none;
}
.ShowModalAlert button.CerrarAviso {
	background: transparent url(../images/alerts/ok.png) no-repeat;
	width: 113px;
	height: 35px;
	border: none;
	margin: 13px 60px 0 0;
}
.section {
	background: url(../images/bgcontent.jpg) fixed center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height: auto;
	flex: 1;
}
body.bginicio {
	background: #fff url(../images/bghome.jpg) no-repeat fixed center top;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height: auto;
}
.container {
	width: 100%;
    position: relative;
	min-height: calc(41vh - 2.6rem);
}
.fade {
	position: fixed;
}
.sweet-alert,
.modal-content {
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background: -moz-linear-gradient(#ffffff, #e8e8e8);
	background: -o-linear-gradient(#ffffff, #e8e8e8);
	top: 40%;
	border-radius: 0;
}
.navbar-default {
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background: -moz-linear-gradient(#ffffff, #e8e8e8);
	background: -o-linear-gradient(#ffffff, #e8e8e8);
}
nav.navbar.navbar-default.navbar-fixed-top {
	display: none;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
.fadeIn {
	display: none;
	opacity: 0.5;
	width: 90%;
	height: 150px;
	position: absolute;
	margin: 0;
	background: #f0f0f0;
}
#ShowLogoLarge {
	display: block;
}
.slogan {
	margin: 20px 0 60px 85px;
	color: #fff;
	font-family: Freescpt;
	font-size: 32px;
}
.logo {
	margin: 10px 0 35px 30px;
	width: 100px;
	height: 170px;
}
.logores {
	display: block;
}
.logo.center {
	margin: 50px 0 50px 150px;
	width: 156px;
}
.logo-top.session {
	margin: 7px 0 0 10px;
}
h3 {
	margin: 0;
	color: #666;
}
.text-muted {
	color: #333333;
}
.text-white {
	color: #ffffff;
}
.fc-content {
	padding: 2px 3px 2px 3px;
}
.fc-left h2 {
	font-size: 28px;
	color: #ffffff;
}
.fc-next-button.fc-button,
.fc-prev-button.fc-button,
.fc-today-button.fc-button,
.fc-agendaDay-button.fc-button,
.fc-agendaWeek-button.fc-button,
.fc-month-button.fc-button {
	border-radius: 0;
}
.fc-bg {
	background: #ffffff;
}
.fc-axis.fc-widget-header,
.fc-day-header.fc-widget-header {
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background: -moz-linear-gradient(#ffffff, #e8e8e8);
	background: -o-linear-gradient(#ffffff, #e8e8e8);
	color: #333333;
	font-size: 16px;
}
.fc-content-skeleton .fc-day-number {
	font-size: 18px;
}
.DeleteTarea {
	position: relative;
	float: right;
	z-index: 9;
	cursor: pointer;
}
.DeleteTarea > i {
	font-size:14px;
}
.DeleteTarea:hover {
	color: #FD5050;
}
.tooltipevent {
	position: absolute;
	z-index: 1060;
	display: none;
	width: 70%;
	padding: 3px 8px;
	color: #fff;
	text-align: left;
	text-decoration: none;
	background-color: #1F3980;
	border-radius: 4px;
}
.tooltipevent.top {
  margin-top: -10px;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    min-width: auto;
	max-width: 200px;
	height: 34px;
    border-radius: 0;
    overflow: hidden;
    background: #fff url("../images/arrowdown.gif") no-repeat 97% 50%;
}
.select-style.lg {
	width: 250px;
	height: 46px;
	line-height: 46px;
	background: #fff url("../images/arrowdown.gif") no-repeat 97% 50%;
}
.select-style select {
    padding: 6px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-style.time {
	display: inline-table;
	min-width: 60px;
}
.select-style.disabled {
	background-color: #eeeeee;
	cursor: no-drop;
}
.ui-datepicker-header {
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background: -moz-linear-gradient(#ffffff, #e8e8e8);
	background: -o-linear-gradient(#ffffff, #e8e8e8);
	color: #333333;
	font-weight: normal;
	border: none;
	border-radius: 0;
	padding: 5px;
}
.ui-datepicker .ui-state-default {
	text-align: center;
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background: -moz-linear-gradient(#ffffff, #e8e8e8);
	background: -o-linear-gradient(#ffffff, #e8e8e8);
	font-size: 12px;
	padding: 2px;
	color: #333333;
}
.ui-datepicker .ui-state-default:hover {
	background: #ffffff;
	border-color: #ffffff;
	border: 1px solid #cccccc;
	color: #333333;
}
.ui-datepicker .ui-state-default.ui-state-highlight {
	background: rgba(248,251,143,1.00);
	color: #333333;
	border-color: #cccccc;
	border: 1px solid #cccccc;
}
.ui-datepicker .ui-state-default.ui-state-active {
	background: #ffffff;
	color: #333333;
	font-size: 14px;
	border-color: #cccccc;
	border: 1px solid #cccccc;
}
.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
	background: none;
	border: none;
	color: #333333;
}
.ui-datepicker-prev.ui-corner-all:hover,
.ui-datepicker-next.ui-corner-all:hover {
	color: #dddddd;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    margin: 0 5px 0 0;
    max-width: 85px;
	height: auto;
    border-radius: 0;
    overflow: hidden;
    background: #fff url("../images/arrowdown.gif") no-repeat 97% 50%;
	padding: 2px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: none;
	font-size: 15px;
	color: #333;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.frmAcceso {
	margin: -40px 0 10px 80px;
}
.frmAcceso input[type=tel],
.frmAcceso input[type=password] {
	width: 300px;
	font-size: 16px;
	height: 40px;
}
.frmAcceso button[type=button] {
	width: 300px;
	margin-left: 15px;
}
.form-group .error input, .form-group .error textarea{
	border-color: #FD5050 !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #FD5050 !important;
}
.form-group .success input, .form-group .success textarea{
	border-color: #43BF55 !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #43BF55 !important;
}
input.form-control,
textarea.form-control,
select {
	border-radius: 0;
}
.btn.btn-default.disabled {
	opacity: 9;
	background-color: #eee;
}
.alert.alert-danger.acceso {
	padding: 3px;
	color: #FD5050;
	background: none !important;
	border: none !important;
	margin: 0;
	font-weight: bold;
}
.text-default {
	color: #fff;
}
.TodayDate,
.TodayTime,
.TodayIndv {
	cursor: pointer;
	color: #ffffff;
	margin-left: 20px;
}
.TodayDate:hover,
.TodayTime:hover,
.TodayIndv:hover {
	color: #ddd;
	text-decoration: none;
}
.TodayAll {
	margin-left: 10px;
	color: #333333;
}
.TodayAll:hover {
	color: #666666;
	cursor: pointer;
	text-decoration: none;
}
.btn.btn-gac,
button.cancel,
button.confirm {
	border-radius: 0;
	background: -webkit-linear-gradient(#ffffff, #d8d8d8);
	background: -moz-linear-gradient(#ffffff, #d8d8d8);
	background: -o-linear-gradient(#ffffff, #d8d8d8);
	color: #333;
	border: 1px solid #cacaca;
	outline: none;
}
.btn.btn-gac:hover {
	background: -webkit-linear-gradient(#e8e8e8, #ffffff);
	background: -moz-linear-gradient(#e8e8e8, #ffffff);
	background: -o-linear-gradient(#e8e8e8, #ffffff);
	color: #333;
}
.btn.btn-back {
	background: none;
	border: none;
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
}
.btn.btn-back:hover {
	text-decoration: none;
	color: #ddd;
}
.btn.btn-back i {
	font-size: 17px;
}
.HeaderBtns {
	width: 95%;
	position: relative;
	z-index: 0;
	margin: 0 auto;
}
.btnp {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}
.btnp .incidencias,
.btnp .llamadas,
.btnp .pedidos,
.btnp .satponsa,
.btnp .satpaguera,
.btnp .salidas,
.btnp .fhios,
.btnp .accesoremoto {
	width: 200px;
	height: 46px;
}
.btnp .incidencias {
	background: url(../images/incidencias.png) 0px 0px no-repeat;
}
.btnp .incidencias:hover {
	background: url(../images/incidencias.png) -200px 0px no-repeat;
}
.btnp .llamadas {
	background: url(../images/llamadas.png) 0px 0px no-repeat;
}
.btnp .llamadas:hover {
	background: url(../images/llamadas.png) -200px 0px no-repeat;
}
.btnp .pedidos {
	background: url(../images/pedidos.png) 0px 0px no-repeat;
}
.btnp .pedidos:hover {
	background: url(../images/pedidos.png) -200px 0px no-repeat;
}
.btnp .satponsa {
	background: url(../images/sat-sponsa.png) 0px 0px no-repeat;
}
.btnp .satponsa:hover {
	background: url(../images/sat-sponsa.png) -200px 0px no-repeat;
}
.btnp .satpaguera {
	background: url(../images/sat-paguera.png) 0px 0px no-repeat;
}
.btnp .satpaguera:hover {
	background: url(../images/sat-paguera.png) -200px 0px no-repeat;
}
.btnp .salidas {
	background: url(../images/salidas.png) 0px 0px no-repeat;
}
.btnp .salidas:hover {
	background: url(../images/salidas.png) -200px 0px no-repeat;
}
.btnp .fhios {
	background: url(../images/fhios.png) 0px 0px no-repeat;
}
.btnp .fhios:hover {
	background: url(../images/fhios.png) -200px 0px no-repeat;
}
.btnp .accesoremoto {
	background: url(../images/accesoremoto.png) 0px 0px no-repeat;
}
.btnp .accesoremoto:hover {
	background: url(../images/accesoremoto.png) -200px 0px no-repeat;
}
.form-control-static {
	color: #fff;
}
.well.well-sm {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	margin: 15px auto 100px auto;
	border: none;
	padding: 10px 30px 10px 30px;
	width: 95%;
	position: relative;
}
.well.well-sm.stats {
	background: rgba(0, 0, 0, 0.6);
	width: auto;
}
.well.well-sm > hr {
	margin: 0 0 15px 0;
}
.well.well-sm.incidencias {
	border-top: 20px solid rgba(240, 89, 42, 0.6);
}
.well.well-sm.llamadas {
	border-top: 20px solid rgba(0, 121, 191, 0.6);
}
.well.well-sm.pedidos {
	border-top: 20px solid rgba(126, 193, 66, 0.6);
}
.well.well-sm.sponsa {
	border-top: 20px solid rgba(102, 205, 242, 0.6);
}
.well.well-sm.spaguera {
	border-top: 20px solid rgba(255, 198, 10, 0.6);
}
.well.well-sm.salidas {
	border-top: 20px solid rgba(204, 0, 255, 0.6);
}
.well.well-sm.fhios {
	border-top: 20px solid rgba(173, 33, 67, 0.6);
}
.well.well-sm.accesoremoto {
	border-top: 20px solid rgba(143, 143, 143, 0.6);
}
.tbl tr td input.form-control,
.tbl tr td .select-style {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-width: medium;
	width: 100%;
}
.tbl tr td input.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tbl tr td .select-style:focus {
	border: 0;
}
.table {
	clear: both;
}
.table > thead > tr {
	border: 1px solid #f0f0f0;
}
.table > thead > tr > th {
	border: none;
	font-size: 13px;
	background: -webkit-linear-gradient(#ffffff, #d8d8d8);
	background: -moz-linear-gradient(#ffffff, #d8d8d8);
	background: -o-linear-gradient(#ffffff, #d8d8d8);
}
.table > tbody > tr {
	border: none;
	background: -webkit-linear-gradient(#e8e8e8, #ffffff);
	background: -moz-linear-gradient(#e8e8e8, #ffffff);
	background: -o-linear-gradient(#e8e8e8, #ffffff);
}
.table > tbody > tr > td {
	border: none;
	padding: 3px 10px 3px 10px;
	background: #ffffff;
	color: #333;
}
.table > tbody > tr.danger > td {
	background: rgb(217, 83, 79);
	background: rgba(217, 83, 79, 0.5);
}
.table > tbody > tr.success > td {
	background: rgb(92, 184, 92);
	background: rgba(92, 184, 92, 0.5);
}
.table > tbody > tr.warning > td {
	background: rgb(235, 240, 45);
	background: rgba(235, 240, 45, 0.5);
}
.table-fhios {
	width: 100%;
}
.table-fhios thead tr th {
	background: rgb(173, 33, 67);
	color: #fff;
	font-size: 12px;
}
.table-fhios thead tr th:last-child {
	opacity: .5;
}
.table-fhios tbody tr td {
	vertical-align: middle;
}
.table-fhios tbody tr td input.form-control {
	line-height: 0;
	height: 30px;
	padding: 3px;
	border: none;
	background: none;
	border-bottom: 2px solid #555;
}
.table-fhios tbody tr td input.form-control:focus {
	outline: 0;
	box-shadow: none;
	border: none;
	border-bottom: 3px solid #333;
}
.ActionResponsive {
	display: none;
}
.ActionNoResponsive {
	display: block;
}
.BtnsInc {
	display: inline-block;
	width: 20.8%;
	margin-left: 225px;
}
.btns-toggle {
	display: none;
	position: absolute;
	left: 15%;
	margin: 1px auto;
}
.btns-toggle img.active {
	opacity: 0.1;
}
.btns-toggle a {
	margin-right: 15px;
	text-decoration: none;
	outline: none;
}
.userrol {
	position: relative;
	margin: -100px 0 0 0;
}
.userrol div.name {
	background-color: #172D6D;
	color: #fff;
	text-align: center;
	font-size: 22px;
	height: 32px;
}
.userrol .rol {
	background-color: #0068AD;
	color: #fff;
	text-align: center;
	font-size: 18px;
	padding-top: 3px;
	height: 32px;
}
.menu-admin {
	position: absolute;
	margin: 40px 0 0 170px;
}
.menu-admin a {
	background: none;
	font-weight: bold;
	border-radius:0;
	border: none;
	margin-right: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333;
	outline: none;
}
.menu-admin a:hover,
.menu-admin a.active {
	background: -webkit-linear-gradient(#d8d8d8, #ffffff);
	background: -moz-linear-gradient(#d8d8d8, #ffffff);
	background: -o-linear-gradient(#d8d8d8, #ffffff);
	border-radius: 6px;
}
.btn-default.admin {
	border-bottom: none;
}
.btn-group {
	float: left;
	margin-bottom: 15px;
}
.btn-group.sino {
	margin-top: -34px;
}
.btn-group label.checkbox:focus,
.btn-group label.checkbox.active {
	background: #7EC142;
}
.btn-group label {
	border-radius: 0;
}
.btnRight {
	float: right;
}
.control-group {
	margin-left: 15px;
	line-height: 1.5;
}
.control-group .control-label {
	background-color: #ffffff;
	padding-bottom: 5px;
	text-align: left;
}
.exit {
	float: right;
	margin-top: 35px;
	margin-right: 30px;
	background-color: #d9534f;
	padding: 4px 6px 1px 6px;
	border-radius: 5px;
}
.exit > a {
	color: #fff;
	font-size: 22px;
	outline: none;
}
.sug.nomobile {
	display: block;
}
.sug {
	display: none;
	background: url(../images/icons/icon-sugerencias.png) no-repeat;
	width: 40px;
	height: 41px;
	position: absolute;
	z-index: 99;
	top: -5px;
	left: 48.4%;
}
.pager {
  margin: -10px 0 0 0;
  text-align: right;
}
.pager li > a,
.pager li > span {
	color: #333;
	padding: 5px 20px 5px 20px;
	background: -webkit-linear-gradient(#ffffff, #d8d8d8);
	background: -moz-linear-gradient(#ffffff, #d8d8d8);
	background: -o-linear-gradient(#ffffff, #d8d8d8);
	border-radius: 0;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #ccc;
}
.pull-right {
	margin-top: -32px;
	margin-bottom: 20px;
}
.copy {
	position: fixed;
	bottom: 0;
	background: -webkit-linear-gradient(#ffffff, #d8d8d8);
	background: -moz-linear-gradient(#ffffff, #d8d8d8);
	background: -o-linear-gradient(#ffffff, #d8d8d8);
	padding: 6px 10px 2px 10px;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 99;
}
.copy span {
	font-size: 12px;
	color: #666;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #1F3980;
  border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #1F3980;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #1F3980;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #1F3980;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #1F3980;
}
.panel-body.noresponsive {
	display:block;
}
.panel-body.responsive {
	display: none;
}
.panel-footer {
	background-color: #ffffff;
}
.erro404 h1 {
	font-size: 70px;
	color: #ffffff;
}
.error404 p {
	font-size: 45px;
	color: red;
	padding-top: 20px;
}
.parpadeo {
	animation-name: parpadeo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
.badge {
	position: absolute;
	background: none !important;
	color: #fff;
	margin: 5px auto;
	width: 40px;
	font-size: 30px;
	text-shadow: 1px 1px 0px #333;
}
#LoadCalendar {
	position: absolute;
	top: 40%;
	left: 45%;
	background: #fff;
	color: #333;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-weight: bold;
	z-index: 9999;
}
#FadeCalendar {
	width: 97.5%;
	height: 425px;
	position: absolute;
	margin: 70px 0 0 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 999;
}
#legendcolor {
	margin: 30px 15px 0 0;
}
.diario {
	background: url(../images/bg-note.png) repeat-y;
	width: 100%;
	height: auto;
	min-height: 500px;
	font: normal 14px Varela Round;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
	overflow: hidden;
}
.diario .note-left {
	display: inline-table;
	padding-left: 5px;
	color: #666;
	width: 135px;
	max-width: 135px;
	font-size: 13px;
}
.diario .note-right {
	background: transparent !important;
	display: inline-table;
	width: 97%;
	max-height: 20px;
	padding-left: 10px;
	margin-left: 25px;
	color: #666;
	font-size: 13px;
}
.diario .note-right strong {
	color: #666;
}
#frmAddDiario #addentrada:focus {
	box-shadow: none;
}

@media (min-width: 1900px) {
	.container {
		min-height: calc(30vh - 4rem);
	}
	.HeaderBtns {
		width: 60%;
	}
}